<style type="text/scss">
	.form-contact-base {
		width: 90%;
		height: 503px;
		display: flex;
		margin: 3em auto;
		background: #183040;
		color: #fff;
	}
	.form-contact-left{
		width: 400px;
		margin: 5em 3.4em;
	}
	.form-contact-left h2 {
		color: #F14F08;
		font-size: 28px;
		line-height: 34px;
		font-weight: normal;
	}
	.form-contact-left p {
		color: #FFF;
		font-size: 20px;
		line-height: 25px;
		text-align: justify;
	}
	.form-contact-right{
		width: 600px;
		margin: 3.5em 0em 0em 3em;
	}
	.btn-submit-contact{
		width: 150px;
  		height: 42px;
  		border: 0px;
  		background-color: #F14F08;
		font-family: 'StratosLCWeb';
		font-size: 14px;
		color: #FFFFFF;
		margin: 3em 0em;
		cursor: pointer;
	}
	.form-contact-title-left {
		color: #FFF;
		font-family: 'StratosLCWeb';
		font-size: 28px;
		line-height: 34px;
	}
	.form-contact-title-right {
		color: #F14F08;
		font-family: 'StratosLCWeb';
		font-size: 28px;
		line-height: 34px;
	}

	/*form input css*/

	$gray: #979797;
	$white: #FFFFFF;
	$black:#000000;
	$evision:#F14F08;

	.form-group {
	  position: relative;
	  padding: 15px 0 0;
	  margin: 1em 1em 0em 0em;
	  width: 100%;
	}

	.form-field {
	  font-family: 'StratosLCWeb-Medium';
	  width: 100%;
	  border: 0;
	  border-bottom: 2px solid $gray;
	  outline: 0;
	  font-size: 20px;
	  color: $white;
	  padding: 7px 0;
	  background: transparent;
	  transition: border-color 0.2s;

	  &::placeholder {
	    color: transparent;
	  }

	  &:placeholder-shown ~ .form-label {
	    font-size: 1.3rem;
	    cursor: text;
	    top: 20px;
	  }
	}

	.form-label {
	  position: absolute;
	  top: 0;
	  display: block;
	  transition: 0.2s;
	  font-size: 1rem;
	  color: $white;
	}

	.form-field:focus {
	  ~ .form-label {
	    position: absolute;
	    top: 0;
	    display: block;
	    transition: 0.2s;
	    font-size: 1rem;
	    color: $evision;
	    font-weight: normal;
	  }
	  padding-bottom: 6px;
	  font-weight: normal;
	  border-width: 3px;
	  border-image: linear-gradient(to right, $evision, $evision);
	  border-image-slice: 1;
	}
	/* reset input */
	.form-field {
	  &:required,
	  &:invalid {
	    box-shadow: none;
	  }
	}
</style>

<script>
  export let name;
  export let email;
  export let phone;
  export let message;
</script> 
 
<div class="form-contact-base">
	<div class="form-contact-left">
		<h2>Contact Evision in Jakarta</h2>
		<p>MNC Innovation Center</p>
		<p>iNews Tower, Jl. Kebon Sirih No.Kav 17-19, RT.15/RW.7, Kb. Sirih, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10340</p>
		<p>+62-8777-033-211</p>
		<p>support.cs@evision.com</p>
	</div>
	<div class="form-contact-right">
		<span class="form-contact-title-left">Keep in touch with us.</span>
		<span class="form-contact-title-right"> We are here to help</span>
		<div class="form-group field">
			<input class="form-field" placeholder="name" required>
			<label for="name" class="form-label">{name}</label>
		</div>
		<div class="form-group field">
			<input class="form-field" placeholder="email" required>
			<label for="phone" class="form-label">{email}</label>
		</div>
		<div class="form-group field">
			<input class="form-field" placeholder="phone" required>
			<label for="phone" class="form-label">{phone}</label>
		</div>
		<div class="form-group field">
			<input class="form-field" placeholder="need" required>
			<label for="need" class="form-label">{message}</label>
		</div>
		<button class="btn-submit-contact">Send Email</button>
	</div>
</div>