<script>
  	export let onClose;
 	import Icon from 'svelte-awesome';
	import { close } from 'svelte-awesome/icons';
</script> 
 
<style>
  .btn-close-popup {
    position: absolute;
	top: -1.5rem;
	right: -1.15em;
	width: 3em;
	height: 3em;
	background: #F14F08;
	border-radius: 1.5rem;
	cursor: pointer;
  }
</style> 
 
<span class="btn-close-popup" on:click={onClose}>
	<Icon data={close} scale="1.5" class="icon-close" />
</span>