<style type="text/scss">
	.modal-base {
		width: 100%;
		height: auto;
		display: flex;
	}
	.modal-left{
		width: 494px;
		margin: 3em;
	}
	.modal-left h2 {
		color: #F14F08;
		font-size: 28px;
		line-height: 34px;
	}
	.modal-left p {
		color: #000000;
		font-size: 16px;
		line-height: 20px;
		text-align: justify;
	}
	.modal-right{
		width: 494px;
		margin: 4.5em 0em 0em 3em;
	}
	.btn-submit-popup{
		width: 150px;
  		height: 42px;
  		border: 0px;
  		background-color: #F14F08;
		font-family: 'StratosLCWeb';
		font-size: 14px;
		color: #FFFFFF;
		margin: 3em 0em;
		cursor: pointer;
	}

	/*form input css*/

	$gray: #979797;
	$white: #FFFFFF;
	$black:#000000;
	$evision:#F14F08;

	.form-group {
	  position: relative;
	  padding: 15px 0 0;
	  margin: 2em 1em 0em 0em;
	  width: 100%;
	}

	.form-field {
	  font-family: 'StratosLCWeb-Medium';
	  width: 100%;
	  border: 0;
	  border-bottom: 2px solid $gray;
	  outline: 0;
	  font-size: 20px;
	  color: $black;
	  padding: 7px 0;
	  background: transparent;
	  transition: border-color 0.2s;

	  &::placeholder {
	    color: transparent;
	  }

	  &:placeholder-shown ~ .form-label {
	    font-size: 1.3rem;
	    cursor: text;
	    top: 20px;
	  }
	}

	.form-label {
	  position: absolute;
	  top: 0;
	  display: block;
	  transition: 0.2s;
	  font-size: 1rem;
	  color: $black;
	}

	.form-field:focus {
	  ~ .form-label {
	    position: absolute;
	    top: 0;
	    display: block;
	    transition: 0.2s;
	    font-size: 1rem;
	    color: $evision;
	    font-weight: normal;
	  }
	  padding-bottom: 6px;
	  font-weight: normal;
	  border-width: 3px;
	  border-image: linear-gradient(to right, $evision, $evision);
	  border-image-slice: 1;
	}
	/* reset input */
	.form-field {
	  &:required,
	  &:invalid {
	    box-shadow: none;
	  }
	}
</style>

<script>
  export let name;
  export let email;
  export let phone;
  export let need;
</script> 
 
<div class="modal-base">
	<div class="modal-left">
		<h2>Official Quote Request</h2>
		<p>Please provide your full information and colocation specific information. You will have the official quote within few hours. Our Head Quarter is located in Jakarta Indonesia.</p>
		<p>If you like to schedule a Tour of our facility, please contact us below.</p>
		<img src="./image/img-modal.jpg" alt="" />
	</div>
	<div class="modal-right">
		<div class="form-group field">
			<input class="form-field" placeholder="name" required>
			<label for="name" class="form-label">{name}</label>
		</div>
		<div class="form-group field">
			<input class="form-field" placeholder="email" required>
			<label for="phone" class="form-label">{email}</label>
		</div>
		<div class="form-group field">
			<input class="form-field" placeholder="phone" required>
			<label for="phone" class="form-label">{phone}</label>
		</div>
		<div class="form-group field">
			<input class="form-field" placeholder="need" required>
			<label for="need" class="form-label">{need}</label>
		</div>
		<button class="btn-submit-popup">Send Email</button>
	</div>
</div>