@font-face {
  font-family: 'StratosLCWeb';
  src: url('../font/font-face/StratosLCWeb-Regular.ttf');
}
@font-face {
  font-family: 'StratosLCWeb-Medium';
  src: url('../font/font-face/StratosLCWeb-Medium.ttf');
}
@font-face {
	font-family: 'Spoof';
	src: url('../font/font-face/Spoof-Medium.ttf');
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #000000;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

.swipe-indicator {
	display: flex !important;
	margin: -8em 0em 0em 5.5em;
	float: left;
}
.dot {
	width: 14px !important;
	height: 14px !important;
	background:#F14F08 !important;
	border: 1px solid #F14F08 !important;
	margin-left: 10px !important;
}
.is-active {
	background:#FFFFFF !important;
	border: 1px solid #FFFFFF !important;
}
.swiper-slide-active {
    transform: scale(1.4) !important;
    position: absolute;
    z-index: 5;
    transition: .9s ease;
    opacity: 1 !important;
}
.swiper-slide {
	background:black;
	opacity: 0.5;
}
.icon-top {
	color: #FFF !important;
	margin: 10px 12px;
}
.icon-close {
	color: #FFF !important;
	margin: 0.4em 0.55em;
}
.icon-pg {
	margin: 0.1em 0.5em !important;
	color: #000 !important;
}
.active-icon {
	color: #F14F08 !important; 
	cursor: pointer;
}
.icon-c-1 {
	margin: -0.15em 0em;
	height: 15px;
	width: 15px;
}
.icon-contact {
	margin: -0.3em 1em;
	color: #000;
}
.icon-footer {
	margin: 0em 0.5em;
}