<style>
	.footer-pricing-base {
		width: 90%;
		border: 2px solid #F14F08;
		height: 275px;
		margin: -4em auto 2em auto;
		display: flex;
	}
	.footer-pricing-left {
		width: 25%;
		height: 240px;
		border-right: 2px solid #F14F08;
		margin: 1em 0em;
	}
	.footer-pricing-center {
		width: 52%;
		height: auto;
		display: flex;
	}
	.footer-pricing-right {
		width: 28%;
		height: 240px;
		border-left: 2px solid #F14F08;
		margin: 1em 0em;
	}
	.footer-pricing-left h1 {
	  color: #8A2D05;
	  font-family: StratosLCWeb;
	  font-size: 28px;
	  line-height: 7em;
	  text-align: center;
	  font-weight: bold;
	}
	.footer-pricing-right h1 {
		color: rgba(0, 0, 0, 0.85);
  		font-family: StratosLCWeb;
  		font-size: 24px;
  		line-height: 29px;
  		text-align: left;
  		font-weight: bold;
  		margin: 1.5em 2em;
	}
	.footer-pricing-right p {
		color: rgba(0, 0, 0, 0.85);
		font-family: StratosLCWeb;
		font-size: 16px;
		line-height: 19px;
		width: 228px;
		text-align: left;
		margin: 1em 3em; 
	}
	.footer-pricing-right a {
		color: #F14F08;
		font-family: StratosLCWeb;
		font-size: 16px;
		line-height: 60px;
		text-align: left;
		margin: 1em 3em;
		border-bottom: 1px solid #F14F08;
	}
	.f-p-left {
		width: 100%;
		height: auto;
		display: inline-flex;
	}
	.f-p-left ul {
		color: rgba(0, 0, 0, 0.85);
  		font-family: StratosLCWeb;
  		font-size: 16px;
  		line-height: 2em;
  		text-align: left;
  		margin: 1.5em 3em;
  		list-style: none;
	}
	.pd-1 {
		padding-left: 5em;
		float: right;
	}
	ul li::before {
		content: "\2022";
		color: #F14F08;
		font-weight: bold;
		display: inline-block;
		width: 1em;
		margin: -1em 0.1em;
		font-size: 2em;
		font-family: initial;
	}

</style>
<script>
	
</script>
<div class="footer-pricing-base">
	<div class="footer-pricing-left">
		<h1>Other Fee</h1>
	</div>
	<div class="footer-pricing-center">
		<div class="f-p-left">
			<ul>
				<li>Tax <span class="pd-1" style="margin-right: -0.8em;">10% all price above</span></li>
				<li>Installation:
					<ol>DKI Jakarta <span class="pd-1" style="padding-right: 0.8em;">Rp 800.000/deal</span></ol>
					<ol>Bodetabek <span class="pd-1" style="margin-right: 0.05em;">Rp 1.100.000/deal</span></ol>
					<ol>Outside <span class="pd-1">Rp 1.800.000/deal</span></ol>
				</li>
				<li>Deposit <span class="pd-1" style="margin-right: -1.5em;">RP 10.000.000/device</span></li>
				<li>Penalty If Seal Broken <span class="pd-1" style="margin-right: -0.5em;">Rp 40.000.000/deal</span></li>
			</ul>
		</div>
	</div>
	<div class="footer-pricing-right">
		<h1>Contact Sales</h1>
		<p>Our team is happy to answer your sales questions</p>
		<a href="/">Click Here</a>		
	</div>
</div>