<style>
	ul {
		margin: 2em -4em;
	}
	ul li{
	  	color: #000;
		display: block;
		position: relative;
		float: left;
		width: 20px;
		height: 20px;
		display: flex;
		margin: 0em 0.4em;
	}

	ul li input[type=radio]{
	  position: absolute;
	  visibility: hidden;
	}

	ul li label{
		display: block;
		position: absolute;
		margin: -0.7em 1.2em;
		height: 60px;
		z-index: 9;
		cursor: pointer;
		-webkit-transition: all 0.25s linear;
		font-family: Spoof;
	  	font-size: 20px;
	}

	ul li .check{
		display: block;
		position: absolute;
		border: 2px solid #000;
		border-radius: 100%;
		height: 17px;
		width: 17px;
		top: 23px;
		left: 20px;
		z-index: 5;
		transition: border .25s linear;
		-webkit-transition: border .25s linear;
	}

	ul li .check::before {
	  	display: block;
		position: absolute;
		content: '';
		border-radius: 100%;
		height: 11px;
		width: 11px;
		top: 3px;
		left: 3px;
		margin: auto;
		transition: background 0.25s linear;
		-webkit-transition: background 0.25s linear;
	}

	input[type=radio]:checked ~ .check {
	  border: 2px solid #F14F08;
	}

	input[type=radio]:checked ~ .check::before{
	  background: #F14F08;;
	}

	input[type=radio]:checked ~ label{
	  color: #000;
	  font-family: StratosLCWeb;
	  font-size: 20px;
	}
	.sec-p{
		color: #000;
		font-family: Spoof;
		font-size: 16px;
		line-height: 19px;
		font-weight: normal;
	}
	.strTosLCWeb{
		font-family:StratosLCWeb;
	}
</style>
<script>
	export let title;
	export let id;
	export let type;
	export let label;
</script>

<p class="sec-p">{@html title}</p>
<ul>
	{#if type == 0}
	    <li>
		    <input type="radio" id="1-{id}" name="selector{id}" value="1">
		    <label for="1-{id}" class="strTosLCWeb">{label[0]}</label>
		    <div class="check"></div>
		</li>
		<li>
		    <input type="radio" id="2-{id}" name="selector{id}" value="3">
		    <label for="2-{id}" class="strTosLCWeb">{label[1]}</label>
		    <div class="check"></div>
		</li>
		<li>
		    <input type="radio" id="3-{id}" name="selector{id}" value="5">
		    <label for="3-{id}" class="strTosLCWeb">{label[2]}</label>
		    <div class="check"></div>
		</li>
		<li>
		    <input type="radio" id="4-{id}" name="selector{id}" value="7">
		    <label for="4-{id}" class="strTosLCWeb">{label[3]}</label>
		    <div class="check"></div>
		</li>
		<li>
		    <input type="radio" id="5-{id}" name="selector{id}" value="9" checked>
		    <label for="5-{id}" class="strTosLCWeb">{label[4]}</label>
		    <div class="check"></div>
		</li>
		<li>
		    <input type="radio" id="6-{id}" name="selector{id}" value="11">
		    <label for="6-{id}" class="strTosLCWeb">{label[5]}</label>
		    <div class="check"></div>
		</li>
	{:else if type == 3}
		<li>
		    <input type="radio" id="1-{id}" name="selector{id}" value="55">
		    <label for="1-{id}" class="strTosLCWeb">{label[0]}</label>
		    <div class="check"></div>
		</li>
		<li style="margin: 0em 1em auto 1em;">
		    <input type="radio" id="2-{id}" name="selector{id}" value="40">
		    <label for="2-{id}" class="strTosLCWeb">{label[1]}</label>
		    <div class="check"></div>
		</li>
		<li>
		    <input type="radio" id="3-{id}" name="selector{id}" value="32" checked>
		    <label for="3-{id}" class="strTosLCWeb">{label[2]}</label>
		    <div class="check"></div>
		</li>
	{:else}
		<li>
		    <input type="radio" id="1-{id}" name="selector{id}" value="0" checked>
		    <label for="1-{id}" class="strTosLCWeb">{label[0]}</label>
		    <div class="check"></div>
		</li>
	{/if}
</ul>