<script>
	
</script>
<style>
	.about {
		width: 100%;
		padding-top: 60px;
	}
	.about-title {
		width: 80%;
		margin: 0px auto;
	} 
	.about-title-left {
		font-size: 40px;
  		line-height: 48px;
  		text-align: center;
  		color: #F24F09;
  		margin-right: 5px;
  		font-weight: inherit;
	}
	.about-title-right {
		font-size: 40px;
  		line-height: 48px;
  		text-align: center;
  		color: #000000;
  		font-weight: inherit;
	}
	.about-text {
		width: 679px;
		margin: 0px auto;
	}
	.about-text h3 {
		font-size: 28px;
		text-align: center;
		font-weight: inherit;
		margin: 2em 0em 0em 0em;
	}
	.about-text p {
		font-weight: inherit;
		font-size: 16px;
		text-align: center;
	}
</style>
<div class="about" id="about">
	<div class="about-title">
		<span class="about-title-left">Thermal Camera Technology</span>
		<span class="about-title-right">Expertise Found Nowhere Else</span>
	</div>
	<div class="about-text">
		<h3>Meet The Profesionals</h3>
		<p>We are a team of innovators who believe that doing the same things as everybody else is just not enough. We pride ourselves in finding uncharted ways to success in the iGaming industry.</p>
	</div>
</div>