<script>
  import { onMount } from "svelte";
  import "swiper/swiper-bundle.min.css";
  import Swiper, { Navigation } from "swiper";

  Swiper.use([Navigation]);

  onMount(() => {
    const swiper = new Swiper(".swiper-container", {
      autoplay:1000,
      slidesPerView: 'auto',
      spaceBetween: 30,
      centeredSlides:true,
      grabCursor:true,
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>

<style>
  .swiper-container {
    width: 1200px;
    height: 600px;
    top: -20px;
  }
  .swiper-wrapper {
    align-items: center;
    width: 550px;
    height: 350px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    top:126px;
  }
  .swiper-slide img {
    width: 550px;
    height: 350px;
    border-radius: 0px;
  }
  .swiper-button-next{
    width: 10px;
    height: 10px;
    color:#FFF;
    border-radius: 50%;
    border:3px solid #F14F08;
    padding: 15px;
    display: flex;
  }
  .swiper-button-next:after{
    font-size: 18px !important;
  }
  .swiper-button-prev{
    width: 10px;
    height: 10px;
    color:#FFF;
    border-radius: 50%;
    border:3px solid #F14F08;
    padding: 15px;
  }
  .swiper-button-prev:after{
    font-size: 18px !important;
  }
</style>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="/image/Capture.jpg" alt="" /></div>
    <div class="swiper-slide"><img src="/image/koi cover 1.jpg" alt="" /></div>
    <div class="swiper-slide"><img src="/image/Capture.jpg" alt="" /></div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>