<script>
	import { scrollto } from "svelte-scrollto";
	import Icon from 'svelte-awesome';
	import { arrowUp } from 'svelte-awesome/icons';

	let top = false; 
    window.addEventListener('scroll', event => {
  		if (window.scrollY > 400){
  			top = true;
  		}else{
  			top = false;
  		}
  		// console.log(window.scrollY);
	});

</script>
<style>
	.show-top {
		position: fixed;
    	bottom: 1em;
    	right: 0.5em;
    	display: block;
	}
	.hide-top {
		display: none;
		transition: 0.5 ease;
	}
	.backtop {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: #F14F08;
		cursor: pointer;
		opacity: 0.5;
	}
	.backtop:hover {
		opacity: 1;
	}
</style>

<span class="backtop {top === true ? 'show-top' : 'hide-top'}" use:scrollto={'#home'}>
	<Icon data={arrowUp} scale="1.5" class="icon-top" />
</span>