<style>
	.banner-body {
		width: 100%;
		height: 696px;
		top: 0px;
		background: black;
		overflow: hidden;
		display: block;
	}
	.banner-image {
		overflow: hidden;
		transition: 0.7s all ease;
	}
	.image-slide {
		width: 100%;
		height: 696px;
		display: block;
		object-fit: cover;
		object-position: center;
	}
	.image-slide:hover {
		transform: scale(1);
	}
	.text-body {
		position: absolute;
		top: 100px;
		left: 95px;
		width: 500px;
		color: #FFFFFF;
		height: auto;
	}
	.title {
		width: 350px;
		font-size: 40px;
  		line-height: 48px;
  		text-align: left;
	}
	.text {
		font-size: 14px;
  		line-height: 24px;
  		width: 427px;
  		text-align: left;
  		margin-top: -20px;
	}
	.btn-text-banner {
  		width: 137px;
  		height: 42px;
  		border: 0px;
  		background-color: #F14F08;
		font-family: 'StratosLCWeb';
		font-size: 14px;
		color: #FFFFFF;
		margin-top: 5px;
		cursor: pointer;
	}
	.btn-banner {
		pointer-events:fill;
	}
	:root{
	    --sv-swipe-panel-height: inherit;
	    --sv-swipe-panel-width: inherit;
	    --sv-swipe-panel-wrapper-index: 2;
	    --sv-swipe-indicator-active-color: #FFFFFF;
	    --sv-swipe-indicator-background-color: #F14F08;
	    --sv-swipe-handler-top: 0px;
	}
	
</style>
<script>
	let slider = [
		{
			'src':'/image/koi cover 1.jpg',
			'alt':'image banner',
			'title':'The new age <br/> of thermal camera marketing',
			'text':'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit. tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit.'
		},
		{
			'src':'/image/P1120570.jpg',
			'alt':'image banner 1',
			'title':'The new age <br/>  of thermal camera marketing 1',
			'text':'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit. tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit.'
		},
		{
			'src':'/image/koi cover 1.jpg',
			'alt':'image banner 1',
			'title':'The new age <br/> of thermal camera marketing 2',
			'text':'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit. tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit.'
		},
		{
			'src':'/image/P1120570.jpg',
			'alt':'image banner 1',
			'title':'The new age <br/> of thermal camera marketing 2',
			'text':'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit. tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit.'
		}

	];

	import { Swipe, SwipeItem } from "svelte-swipe";
	import { getContext } from 'svelte';
	import ModalRequestQ from './plugin/popup/ModalRequestQ.svelte';
	import CloseButton from './plugin/popup/CloseButton.svelte';

	let option = { 
		width: '1222px',
		height: 'auto', 
		border:'1px solid #F14F08',
		borderRadius:'0px',
	};
	
	let field = { 
		name: "Name",
		email:"Email",
		phone:"Phone",
		need:"Your Requirement Need"
	};
	
	const { open } = getContext('simple-modal');

	// swiper config
	const swipeConfig = {
	    autoplay: true,
	    delay: 5000,
	    showIndicators: true,
	    transitionDuration: 1000,
	    defaultIndex: 0,
	};

  	const showPopup = () => {
		open(ModalRequestQ, field, {closeButton: CloseButton, styleWindow: option});
	};

</script>
<div class="banner-body" id="banner-body">
	<Swipe {...swipeConfig}>
		{#each slider as slid, i}
		<SwipeItem>
			<div class="banner-image">
				<img class="image-slide" src="{slid.src}" alt="{slid.alt}" />
				<div class="text-body">
					<div class="title">
						<p>{@html slid.title}</p>
					</div>
					<div class="text">
						<p >{slid.text}</p>
					</div>
					<div class="btn-banner">
						<button class="btn-text-banner" on:click={showPopup}>Request a Quote</button>
					</div>
				</div>
			</div>
		</SwipeItem>
		{/each}
	</Swipe>
</div>