<style type="text/scss">
	.contact-base {
		width: 100%;
		height: 400px;
		background:#F14F08;
		color: #FFF;
		margin: 5em auto 3em auto;
	}
	.contact-body {
		width: 50%;
		margin: 0px auto;
		height: auto;
	}
	.contact-body h1 {
		font-family: StratosLCWeb;
		font-size: 40px;
		line-height: 4em;
		text-align: center;
	}
	.c-buttom {
		display: flex;
		width: 100%;
	}
	.c-center {
		width: 100%;
		height: auto;
	}
	.c-left {
		width: 50%;
		height: auto;
	}
	.c-right {
		width: 50%;
		height: auto;
	}
	.c-right h2 {
		font-family: StratosLCWeb;
		font-size: 28px;
		line-height: 34px;
		text-align: center;
	}
	.c-left h2 {
		font-family: StratosLCWeb;
		font-size: 28px;
		line-height: 34px;
		text-align: center;
	}
	.c-left h3 {
		font-family: StratosLCWeb;
		font-size: 16px;
		line-height: 19px;
		text-align: right;
		margin-right: 4.5em;
	}
	.c-right h3 {
		font-family: StratosLCWeb;
		font-size: 16px;
		line-height: 19px;
		text-align: right;
		margin-right: 3em;
	}
	.contact-title {
		font-size: 40px;
  		font-weight: inherit;
  		font-family: Spoof;
  		width: 79%;
  		height: auto;
  		margin: 0px auto;
	}
	.contact-title-left {
  		line-height: 48px;
  		color: #000000;
  		margin-right: 5px;
	}
	.contact-title-center {
  		line-height: 48px;
  		color: #F14F08;
  		margin-right: 5px;
	}
	.contact-title-right {
  		line-height: 48px;
  		color: #000000;
  		margin-right: 0px;
	}
	.contact-footer {
		width: 100%;
		height: auto;
		display: flex;
		margin: 5em auto auto auto;
	}
	.c-footer-left {
		width: 60%;
		height: 264px;
		background:#F14F08;
	}
	.c-footer-right {
		width: 40%;
		height: 264px;
		background-color: #183040;
	}
	.c-footer-right p {
		color: #FFF;
		text-align: center;
		width: 390px;
		margin: 1em auto;
		font-size: 16px;
	}
	.c-footer-right h2 {
		color: #FFF;
		text-align: center;
		margin: 3em auto auto auto;
		font-weight: normal;
		font-size: 28px;
	}
	.c-footer-text {
		margin: 4em 0em 0em 4.5em;
		color: #FFF;
		font-size: 16px;
		font-family: StratosLCWeb;
		font-weight: normal;
	}
	.c-footer-bottom {
		margin: 3em 0em auto auto; 
		font-size: 12px;
	}
	.c-footer-bottom span {
		margin-right: 5em; 
	}
	.c-form {
		width: 70%;
		height: auto;
		margin: -10px auto;
	}


	/*form input css*/

	$gray: #979797;
	$white: #FFFFFF;
	$black:#000000;
	$evision:#F14F08;

	.form-group {
	  position: relative;
	  padding: 15px 0 0;
	  margin: 1em 1em 0em 0em;
	  width: 100%;
	}

	.form-field {
	  font-family: 'StratosLCWeb-Medium';
	  width: 100%;
	  border: 0;
	  border-bottom: 2px solid $gray;
	  outline: 0;
	  font-size: 20px;
	  color: $white;
	  padding: 7px 0;
	  background: transparent;
	  transition: border-color 0.2s;

	  &::placeholder {
	    color: transparent;
	  }

	  &:placeholder-shown ~ .form-label {
	    font-size: 1.3rem;
	    cursor: text;
	    top: 20px;
	  }
	}

	.form-label {
	  position: absolute;
	  top: 0;
	  display: block;
	  transition: 0.2s;
	  font-size: 1rem;
	  color: $white;
	}

	.form-field:focus {
	  ~ .form-label {
	    position: absolute;
	    top: 0;
	    display: block;
	    transition: 0.2s;
	    font-size: 1rem;
	    color: $evision;
	    font-weight: normal;
	  }
	  padding-bottom: 6px;
	  font-weight: normal;
	  border-width: 3px;
	  border-image: linear-gradient(to right, $evision, $evision);
	  border-image-slice: 1;
	}
	/* reset input */
	.form-field {
	  &:required,
	  &:invalid {
	    box-shadow: none;
	  }
	}
</style>
<script>
	import Icon from 'svelte-awesome';
	import { longArrowRight, facebookSquare, instagram, twitter, pinterestP, linkedinSquare } from 'svelte-awesome/icons';
	import FormContact from './plugin/contact/FormContact.svelte';

</script>
<div class="contact-base">
	<div class="contact-body">
		<div class="c-center">
			<h1>How can we help ?</h1>
		</div>
		<div class="c-buttom">
			<div class="c-left">
				<img src="" alt="">
				<h2>1500 121</h2>
				<h3>Call Center <Icon data={longArrowRight} scale="1.5" class="icon-contact" /></h3>
			</div>
			<div class="c-right">
				<img src="" alt="">
				<h2>Troubleshoot</h2>
				<h3>Customer Service <Icon data={longArrowRight} scale="1.5" class="icon-contact" /></h3>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="contact-title">
		<span class="contact-title-left">How you can we help</span>
		<span class="contact-title-center">Make you a believer</span>
		<span class="contact-title-right">in Evision?</span>
	</div>
	<FormContact
		name={'Name'}
		email={'Email'}
		phone={'Phone'}
		message={'Message'}
	/>
	<div class="contact-footer">
		<div class="c-footer-left">
			<div class="c-footer-text">
				<p>© 2020 Evision Lab. All Rights Reserved.</p>
				<p>Adaptive security technology is based on High Research and Development</p>
				<div class="c-footer-icon">
					<Icon data={facebookSquare} scale="1.5" />
					<Icon data={instagram} scale="1.5" class="icon-footer" />
					<Icon data={twitter} scale="1.5" class="icon-footer" />
					<Icon data={pinterestP} scale="1.5" class="icon-footer" />
					<Icon data={linkedinSquare} scale="1.5" class="icon-footer" />
				</div>
				<div class="c-footer-bottom">
					<span>Privacy Policy</span>
					<span>Term & Condition</span>
					<span>License Agreement B2C</span>
					<span>License Agreement B2B</span>
				</div>
			</div>
		</div>
		<div class="c-footer-right">
			<h2>Get the latest updates</h2>
			<p>Sign up for our newsletter and start receiving regular news and updates from Beacon Social.</p>
			<div class="c-form">
				<div class="form-group field">
					<input class="form-field" placeholder="email" required>
					<label for="email" class="form-label">Your Email</label>
				</div>
			</div>
		</div>
	</div>
</div>