<style>
	.head {
		background-color: white;
  		width: 100%;
  		height: 100px;
	}
	.head-logo {
		width: 30%;
		float: left;
	}
	.img-logo {
		margin-left: 50px;
		margin-top:10px;
	}
	.head-nav {
		width: 70%;
		float: right;
		margin-top: 25px;
	}
	.nav-bar-ul {
		float: left;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		margin-left: 150px;
	}
	.nav-bar-li {
		float: left;
		display: block;
		text-align: center;
		padding: 16px;
		text-decoration: none;
		color: black;
		font-weight: initial;
	}
	.nav-bar-li:hover {
		color: #F14F08;
		cursor: pointer;
	}
	.btn-login {
		border: 1px solid #F14F08;
  		width: 140px;
  		height: 42px;
  		display: block;
  		background: white;
  		margin-top: 5px;
		float: right;
		margin-right: 70px;
		font-family: 'StratosLCWeb-Medium';
		cursor: pointer;
		font-size: 14px;
	}
	.active{
		color: #F14F08;
	}
</style>

<script>
	import * as animateScroll from "svelte-scrollto";
	let current = 'Home';
	let about = false;
	const logo = {src:'./image/logo.jpg'};

</script>

<div class="head">
	<div class="head-logo">
		<img class="img-logo" {...logo} alt="" />
	</div>
	<div class="head-nav">
		<ul class="nav-bar-ul">
			<li class="nav-bar-li {current === 'Home' ? 'active' : ''}" on:click="{() => current = 'Home'}" on:click={() => animateScroll.scrollTo({element: '#banner-body', duration: 1000})}>Home</li>
			<li class="nav-bar-li {current === 'About Us' ? 'active' : ''}" on:click="{() => current = 'About Us'}" on:click={() => animateScroll.scrollTo({element: '#about', duration: 1000})} >About Us</li>
			<li class="nav-bar-li {current === 'Our Service' ? 'active' : ''}" on:click="{() => current = 'Our Service'}" on:click={() => animateScroll.scrollTo({element: '#service', duration: 1000})} >Our Service</li>
			<li class="nav-bar-li {current === 'Pricing' ? 'active' : ''}" on:click="{() => current = 'Pricing'}" on:click={() => animateScroll.scrollTo({element: '#pricing', duration: 1000})}>Pricing</li>
			<li class="nav-bar-li {current === 'Support' ? 'active' : ''}" on:click="{() => current = 'Support'}">Support</li>
			<li class="nav-bar-li {current === 'Contact' ? 'active' : ''}" on:click="{() => current = 'Contact'}">Contact</li>
		</ul>
		<button class="btn-login">Login</button>
	</div>
</div>