<style>
	.home {
		width: 100%;
	}
	.home-head {
		width: 100%;
		height: 160px;
	}
	.home-head h1 {
		color: #000000;
  		font-family: StratosLCWeb;
  		font-size: 40px;
  		line-height: 48px;
  		text-align: center;
  		font-weight: bold;
  		margin-top: 60px;
	}
	.home-head p {
		color: #000000;
  		font-family: StratosLCWeb;
  		font-size: 16px;
  		line-height: 19px;
  		text-align: center;
  		padding-right: 90px;
  		padding-left: 90px;
  		margin-top: 50px;
  		font-weight: initial;
	}
	.home-body {
		width: 100%;
		height: 600px;
		display: flex;
	}
	.home-left {
		font-family: 'Spoof';
		width: 50%;
		height: 531px;
		border: 0px solid black;
	}
	.home-right {
		width: 50%;
		height: 531px;
		border: 0px solid black;

	}
	.img-home-left {
		margin: 1em 0em;
	}
	.home-title {
  		height: 72px;
		margin: 0.1em 5em 5em;
	}
	.home-title-text {
		font-size: 42px;
		background: #F14F08;
		color: #FFF;
		text-align: center;
		padding: 0.2em 0em;
		display: inline-block;
		width: 489px;
		font-weight: normal;

	}
	.home-c {
		margin: 3.8em 0em;
	}
	.home-c-a {
		background-color: #F14F08;
  		width: 25px;
  		height: 25px;
  		margin-top: 50px;
		margin-left: 80px;
	}
	.home-c-b {
		color: #000000;
		font-size: 28px;
		line-height: 34px;
		text-align: center;
		margin-left: 140px;
		margin-top: -30px;
		position: absolute;
	}
	.home-bottom {
		background-color: #F24F09;
  		width: 100%;
  		height: 300px;
  		position: relative;
  		text-align: center;
  		padding-top: 10px;
	}
	.home-bottom h1 {
		font-family: 'StratosLCWeb-Medium';
		color: #FFFFFF;
  		font-size: 40px;
  		line-height: 48px;
  		font-weight: inherit;
  		margin-top: 51px;
	}
	.home-bottom p {
		color: #FFFFFF;
		font-size: 25px;
		font-weight: inherit;
	}
	.home-button-a {
		display: inline-block;
		padding: 0.3em 0.5em;
		margin:0.2em 0.2em 0.2em;
		width: 11em;
		border: 2px solid #FFFFFF;
		text-align: center;
		background: #C54007;
		color: #FFF;
	}

</style>
<script>
	let home_title = 'What We Offer';
	let home_text = 'We provide a system to support your business. Our cameras are integrated with each other so that all the data collected can be accessed on the free web dashboard. we ensure the security of your data, as well as guarantee service and maintenance during the rental period';
	let img_home = {'src':'./image/image-1.jpg','alt':'images'};

</script>
<div class="home">
	<div class="home-head">
		<h1>{home_title}</h1>
		<p>{home_text}</p>
	</div>
	<div class="home-body">
		<div class="home-left">
			<div class="home-title">
				<h1 class="home-title-text">Thermal Detection</h1>
			</div>
			<div class="home-c">
				<div class="home-c-a"></div>
				<span class="home-c-b">Thermal Statistic</span>
			</div>
			<div class="home-c">
				<div class="home-c-a"></div>
				<span class="home-c-b">Visitor Counter</span>
			</div>
			<div class="home-c">
				<div class="home-c-a"></div>
				<span class="home-c-b">Unmask Detection</span>
			</div>
			<div class="home-c">
				<div class="home-c-a"></div>
				<span class="home-c-b">Event Measurement</span>
			</div>
			<div class="home-c">
				<div class="home-c-a"></div>
				<span class="home-c-b">Age Gender Statistic</span>
			</div>
		</div>
		<div class="home-right">
			<img class="img-home-left" {...img_home} alt="" />
		</div>
	</div>
	<div class="home-bottom">
		<h1>LIMITED TIME OFFER</h1>
		<p>Talk with a Thermal Camera expert now & ask about Evision’s exclusive offer for this month.</p>
		<p class="home-button-a">Call +62-8777-033-211</p>
	</div>
</div>