<style>
	.service-base {
		width: 90%;
		height: auto;
		margin: -3.5em auto;
	    padding: 3em 0em;
	}
	.service-title {
		width: 80%;
		margin: 0px auto 4em auto;
		text-align: center;
	}
	.service-title-left {
		font-size: 40px;
  		line-height: 48px;
  		color: #000000;
  		margin-right: 5px;
  		font-weight: inherit;
	}
	.service-title-right {
		font-size: 40px;
  		line-height: 48px;
  		color: #F24F09;
  		margin-right: 5px;
  		font-weight: inherit;
	}
	.service-body {
		display: flex;
		width: 100%;
		margin: 2em 0em 0em 0em;
	}
	.service-body-left {
		width: 50%;
	}
	.service-body-right {
		width: 50%;
	}
	.service-body-text {
		margin: 0em 0em 0em 6em;
	}
	.service-body-text h1 {
		color: #000000;
		font-size: 28px;
		line-height: 34px;
		text-align: left;
		font-weight: normal;
	}
	.service-body-text p {
		color: #3E3E3E;
		font-size: 12px;
		line-height: 24px;
		width: 399px;
		text-align: justify;
	}
	.service-body-right span {
		background-color: #F14F08;
  		width: 82px;
  		height: 42px;
  		color: #FFFFFF;
		font-size: 16px;
		line-height: 40px;
		text-align: center;
		position: absolute;
		margin: 1.2em -1em;
	}
	.img-service-left {
		margin: 0em 0em;
	}
	.img-service-right {
		margin: 0em 0em 0em 4em;
	}
	.c-service {
		margin: 0em 0em 0em 8em;
	}
	.service-pagination {
		width: 95px;
		height: 50px;
		float: right;
		margin: 0em -1.3em auto auto;
	}
	.service-pagination button {
		width: 3em;
		height: 3em;
		display: inline-flex;
		margin: -0.2em;
		border: 1px solid #000000;
		padding: 0.3em;
		background: #FFFFFF; 
		cursor: pointer;
	}
</style>
<script>
	import { onMount,getContext } from "svelte";
	import Icon from 'svelte-awesome';
	import { angleLeft,angleRight } from 'svelte-awesome/icons';
	import { getOurservice } from "./data/Data.js";

	let rows = [];
	let page = 1;
	let rowsCount = 0;
  	let loading = true;

	onMount(async () => {
    	await load(page);
  	});

  	async function load(_page) {
    	loading = true;
    	const data = await getOurservice(_page);
    	rows = data;
    	rowsCount = data.length;
    	loading = false;
  	}

  	function onPageChange(event) {
    	load(event);
    	console.log(event);
		page = event;
  	}

  	console.log('page:',page);

</script>

<div class="service-base" id="service">
	<div class="service-title">
		<span class="service-title-left">Why</span>
		<span class="service-title-right">Evision Thermal Camera</span>
	</div>
	
	{#each rows as rw, index (rw)}
	<div class="service-body">
		{#if index%2==0}
		<div class="service-body-left">
			<img class="img-service-left" src="{rw.image}" alt="" />
		</div>
		{/if}
		<div class="service-body-right {index%2==0?'':'c-service'}">
			<span>{rw.sort}</span>
			<div class="service-body-text">
				<h1>{rw.title}</h1>
				<p>{rw.content}</p>
			</div>
		</div>
		{#if index%2!=0}
		<div class="service-body-left">
			<img class="img-service-right" src="{rw.image}" alt="" />
		</div>
		{/if}
	</div>
	{/each}

	<div class="service-pagination">
		<button disabled={page === 1} on:click={onPageChange(page-1)}>
			<Icon data={angleLeft} scale="1.5" class="icon-pg {page===1?'not-icon':'active-icon'}" />
		</button>
		<button disabled={page >= 2} on:click={onPageChange(page+1)}>
			<Icon data={angleRight} scale="1.5" class="icon-pg {page >= 2?'not-icon':'active-icon'}" />
		</button>
	</div>

</div>