<style>
	.pricing-base {
		width: 90%;
		height: auto;
		padding: 2em;
		display: block;
		margin: 7em auto;
	}
	.pricing-title {
		width: 100%;
		margin: 0em auto 4em auto;
		text-align: center;
		font-weight: bold;
	}
	.pricing-title-left {
		font-size: 40px;
  		line-height: 48px;
  		color: #000000;
  		margin-right: 5px;
  		font-weight: inherit;
	}
	.pricing-title-right {
		font-size: 40px;
  		line-height: 48px;
  		color: #F24F09;
  		margin-right: 5px;
  		font-weight: inherit;
	}
	.pricing-base p {
		text-align: center;
		font-size: 28px;
	}
	.pricing-tab-base {
		border: 2px solid #000;
		width: 400px;
		height: 42px;
		margin: 0px auto 3.5em;
		display: flex;
	}
	.pricing-tab-base span {
		margin: 0.5em auto;
	}
	.pricing-tab {
		background-color: #FFFFFF;
		width: 133px;
		height: auto;
		text-align: center;
		display: inline-flex;
		border: 2px solid white;
		cursor: pointer;
	}
	.pricing-tab:hover {
		background:#000;
		color: #FFF;
	}
	.active-tab {
		background-color: #000;
		color: #FFFFFF;
	}
	.pricing-tab-body {
		width: 80%;
		margin: 0px auto;
		height: auto;
	}
	.pricing-tab-section-top {
		width: 100%;
		height: 910px;
		border-left: 1px solid #183040;
		border-top: 1px solid #183040;
		display: flex;
	}
	.pricing-tab-section-body {
		width: 100%;
		height: 380px;
		border-left: 1px solid #183040;
		border-top: 1px solid #183040;
		display: flex;
	}
	.pricing-tab-section-section-buttom {
		width: 100%;
		height: 77px;
		border-left: 1px solid #183040;
		border-top: 1px solid #183040;
		display: flex;
	}
	.section-1 {
		width: 24%;
		background:#FFF;
		height: auto;
	}
	.section-2 {
		width: 66%;
		background:#FFF;
		height: auto;
		padding: 1em 0em;
	}
	.section-4 {
		width: 25%;
		background:#183040;
		height: auto;
		padding: 1.5em 0em;
	}
	.section-4 h2 {
		font-size: 20px;
  		line-height: 4em;
  		text-align: center;
  		color: #FFF;
  		font-weight: normal;
  		font-family: 'StratosLCWeb-Medium';
	}
	.section-4-1 h2 {
		line-height: 6em;
	}
	.color-fix {
		background: #F14F08;
		color: #FFF;
	}
	.color-fix h2 {
		line-height: 0em;
	}
	.border-1{
		border-bottom:1px solid #183040;
	}
	.section-1 button {
		background-color: #000000;
		width: 159px;
		height: 40px;
		display: inline-flex;
		padding: 0.5em 2em;
		border: 1px solid #000;
		color: #FFF;
		font-size: 16px;
		margin: 1.1em;
		font-family: StratosLCWeb-Medium;
		cursor: pointer;
	}
	.section-1 h1 {
		color: #000;
		font-family: Spoof;
		font-size: 28px;
		line-height: 34px;
		text-align: center;
	}
	.section-1 img {
		margin: 22em 3em auto;
	}
	.sec-1 img {
		margin: 7em 3em auto;
	}
	.sec-3 p {
		color: #000;
  		font-family: Spoof;
  		font-size: 16px;
  		line-height: 10px;
	}
	.sec-3 {
		margin: -6em 4em;
		float: right;
	}
	.sec-3-p {
		font-family: StratosLCWeb !important;
	}
	.sec-2 {
		width: 100%;
		height: auto;
		margin: 0em 0em 1.5em 0em;
	}
	.sec-2 p {
		color: #000;
		font-family: Spoof;
		font-size: 16px;
		line-height: 19px;
		font-weight: normal;
		text-align: left;
	}
	.sec-2 h3 {
		font-size: 20px;
		font-weight: normal;
	}
	.sec-2 h2 {
		width: 4em;
		text-align: center;
		float: right;
		margin: -0.3em 3em 0em 0em;
	}
	.sec-2 input {
		border: 1px solid #000;
  		width: 78px;
  		height: 24px;
  		font-size: 16px;
  		font-family: StratosLCWeb;
	}
	.sec-c {
		margin: -0.8em 13.5em;
		width: 5em;
		height: 5em;
	}
	.sec-c p {
		color: #000;
		font-family: StratosLCWeb;
		font-size: 16px;
		text-align: left;
		margin: 0.5em auto;
	}
	input[type="text"]::placeholder {     
        /* Firefox, Chrome, Opera */ 
        text-align: right; 
    }
    .sec-4 {
    	width: auto;
    	height: 100px;
    }
    .m-30 {
    	margin-top: 30px;
    }
    .m-23 {
    	margin-top: 23px;
    }
    .m-10 {
    	margin-top: -10px;
    }
</style>

<script>
	import Icon from 'svelte-awesome';
	import { ban } from 'svelte-awesome/icons';
	import RadioButton from './plugin/pricing/RadioButton.svelte';
	import FooterPricing from './plugin/pricing/FooterPricing.svelte';

	let labelArr0 = ['1','3','5','7','9','11'];
	let labelArr1 = ['0'];
	let labelArr3 = ['55"','40"','32"'];
</script>

<div class="pricing-base" id="pricing">
	<div class="pricing-title">
		<span class="pricing-title-left">Simple,</span>
		<span class="pricing-title-right">Transparent Pricing</span>
	</div>
	<p>No Worry, No Surprice Fees</p>
	<div class="pricing-tab-base">
		<div class="pricing-tab " id="daily"><span>Daily</span></div>
		<div class="pricing-tab " id="monthly"><span>Monthly</span></div>
		<div class="pricing-tab active-tab" id="yearly"><span>Yearly</span></div>
	</div>
	<div class="pricing-tab-body">
		<div class="pricing-tab-section-top">
			<div class="section-1">
				<img src="./image/feature.jpg" alt="">
				<h1>Features</h1>
			</div>
			<div class="section-2">
				<div class="sec-2">
				    <RadioButton 
				    	type={0}
				    	label={labelArr0} 
				    	title={'People Temperature Measurement'} 
				    	id={'ptm'} 
				    	/>
					<div class="sec-c">
						<input type="text" placeholder="Days">
						<p>Custom</p>
					</div>
					<div class="sec-3">
						<p>Days of us</p>
						<p class="sec-3-p"><Icon data={ban} scale="1" class="icon-c-1" /> Days</p>
					</div>
				</div>
				<div class="sec-2">
				    <RadioButton 
				    	type={0}
				    	label={labelArr0} 
				    	title={'Visitor Temperature Statistic'} 
				    	id={'vts'} 
				    	/>
					<div class="sec-c">
						<input type="text" placeholder="Days">
						<p>Custom</p>
					</div>
					<div class="sec-3">
						<p>Days of us</p>
						<p class="sec-3-p">14 Days</p>
					</div>
				</div>
				<div class="sec-2">
				    <RadioButton 
				    	type={0}
				    	label={labelArr0} 
				    	title={'Mask Detector'} 
				    	id={'md'} 
				    	/>
					<div class="sec-c">
						<input type="text" placeholder="Days">
						<p>Custom</p>
					</div>
					<div class="sec-3">
						<p>Days of us</p>
						<p class="sec-3-p">14 Days</p>
					</div>
				</div>
				<div class="sec-2">
				    <RadioButton
				    	type={0}
				    	label={labelArr0}
				    	title={'Visitor Counter'} 
				    	id={'vc'} 
				    	/>
					<div class="sec-c">
						<input type="text" placeholder="Days">
						<p>Custom</p>
					</div>
					<div class="sec-3">
						<p>Days of us</p>
						<p class="sec-3-p">14 Days</p>
					</div>
				</div>
				<div class="sec-2">
				    <RadioButton
				    	type={0} 
				    	label={labelArr0}
				    	title={'Gender Statistic'} 
				    	id={'gs'} 
				    	/>
					<div class="sec-c">
						<input type="text" placeholder="Days">
						<p>Custom</p>
					</div>
					<div class="sec-3">
						<p>Days of us</p>
						<p class="sec-3-p">14 Days</p>
					</div>
				</div>
				<div class="sec-2">
				    <p>Realtime Report</p>
				    <h3>Free</h3>
				    <div class="sec-3">
						<p>Days of us</p>
						<p class="sec-3-p">Free</p>
					</div>
				</div>
				<div class="sec-2">
				    <RadioButton
				    	type={0} 
				    	label={labelArr0}
				    	title={'CS Quality Measurement'} 
				    	id={'cs'} 
				    	/>
					<div class="sec-c">
						<input type="text" placeholder="Days">
						<p>Custom</p>
					</div>
					<div class="sec-3">
						<p>Days of us</p>
						<p class="sec-3-p">14 Days</p>
					</div>
				</div>
			</div>
			<div class="section-4">
				<div class="sec-4">
					<h2>Rp. <Icon data={ban} scale="1.3" /></h2>
				</div>
				<div class="sec-4 m-23">
					<h2>Rp. 2.800.000</h2>
				</div>
				<div class="sec-4 m-30">
					<h2>Rp. 2.800.000</h2>
				</div>
				<div class="sec-4 m-30">
					<h2>Rp. 2.800.000</h2>
				</div>
				<div class="sec-4 m-30">
					<h2>Rp. 2.800.000</h2>
				</div>
				<div class="sec-4 m-10">
					<h2>Free</h2>
				</div>
				<div class="sec-4 m-10">
					<h2>Rp. 2.800.000</h2>
				</div>
			</div>
		</div>
		<div class="pricing-tab-section-body">
			<div class="section-1 sec-1">
				<img src="./image/device.jpg" alt="">
				<h1>Device</h1>
			</div>
			<div class="section-2">
				<div class="sec-2">
				    <RadioButton 
				    	type={3}
				    	label={labelArr3}
				    	title={'With Screen - according to ordering<br>features with Screen in inches'} 
				    	id={'ws'} 
				    	/>
					<div class="sec-c">
						<input type="text" placeholder="Days">
						<p>Custom</p>
					</div>
					<div class="sec-3">
						<p>Days of us</p>
						<p class="sec-3-p"><Icon data={ban} scale="1" class="icon-c-1" /> Days</p>
					</div>
				</div>
				<div class="sec-2">
				    <RadioButton 
				    	type={1}
				    	label={labelArr1}
				    	title={'No Screen'} 
				    	id={'ns'} 
				    	/>
					<div class="sec-c">

					</div>
					<div class="sec-3">
						<p>Days of us</p>
						<p class="sec-3-p"><Icon data={ban} scale="1" class="icon-c-1" /> Days</p>
					</div>
				</div>
				<h2 style="color: red; font-size: 20px;">*Other Fees</h2>
			</div>
			<div class="section-4 section-4-1">
				<div class="sec-4">
					<h2>Rp.28.000.000</h2>
				</div>
				<div class="sec-4 m-30">
					<h2>Rp. <Icon data={ban} scale="1.3" /></h2>
				</div>
			</div>
		</div>
		<div class="pricing-tab-section-section-buttom">
			<div class="section-1 border-1">
				<button>Reset Price</button>
			</div>
			<div class="section-2 border-1">
				<div class="sec-2">
					<h2>Estimate Price</h2>
				</div>
			</div>
			<div class="section-4 color-fix">
				<h2>Rp. 2.800.000</h2>
			</div>
		</div>
	</div>
</div>

<FooterPricing/>