<script>
    import Head from './component/Head.svelte';
    import Banner from './component/Banner.svelte';
    import Home from './component/Home.svelte';
    import About from './component/About.svelte';
    import AboutSwiper from './component/AboutSwiper.svelte';
    import BackTop from './component/BackTop.svelte';
    import OurService from './component/OurService.svelte';
  	import Modal from 'svelte-simple-modal';
  	import Pricing from './component/Pricing.svelte';
  	import Contact from './component/Contact.svelte';
</script>

<main>
	<Head/>
	<Modal>
		<Banner/>
	</Modal>
	<Home/>
	<About/>
	<AboutSwiper/>
	<OurService/>
	<Pricing/>
	<BackTop/>
	<Contact/>
</main>

<style>

	main {
		font-family: 'StratosLCWeb';
		padding: 0em;
		max-width: 100%;
		margin: 0 auto;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}

</style>